*{
    margin: 0 auto;
    padding: 0;
}

/*
comentario comentado comnetando
*/ 

.artigo{
    width: 1280px;
    margin: 40px auto;
    text-align: center;
}

.artigo h1{
    color: blue;
    font-size: 40px;
    font-family: 'tahoma'
}