*{
    margin: 0 auto;
    padding: 0;
}

/*
comentario comentado comnetando
*/ 

html,body{
    height: 100%;
}

.artigo{
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: auto;
    text-align: center;
}

.artigo h1{
    color: blue;
    font-size: 40px;
    font-family: 'tahoma';
    font-style: normal;
    font-weight: normal;
}

.artigo p{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: tahoma;
    font-style: normal;
    font-weight: bolder;
    margin-top: 15px;
    line-height: 20px;
    text-align: left;
}